/*CSS*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, input, select {
border: 0 none;
margin: 0;
padding: 0;
}
body {
background:#fff;
color: #666666;
font-family: "Source Sans Pro", Arial;
font-size: 13px;
}
.container {
height: 100%;
width: 100%;
}
input, textarea, select{outline:none;}
a {outline: 0 none;text-decoration: none;}
a:hover {text-decoration: none;}
input{outline:none;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {display: block;}
ul {list-style: none outside none;}
.clear {clear: both;}
.floatl {float: left;}
.floatr {float: right !important;}
.w420 {width: 420px;}
.w301 {width: 301px;}
.w190 {width: 195px;}
.w184 {width: 184px;}
.w167 {width: 167px;}
.w610 {width: 610px}
.w490 {width: 490px;}
.w85 {width: 85px}
.w55 {width: 55px;}
.w200 {width: 200px;}
.w208 {width: 208px}
.w272 {width: 272px;}
.w733 {width: 733px;}
.w202 {width: 202px;}
.w248 {width: 248px;}
.w763 {width: 763px;}
.w464 {width: 464px;}
.w300 {width: 300px;}
.w193 {width: 193px;}
.w311 {width: 311px;}
.w364 {width: 364px;}
.w243 {width: 243px;}
.w373 {width: 373px;}
.w322 {width: 322px;}
.w710 {width: 710px;}
.w420 {width: 420px;}
.w764 {width: 764px;}
.w426 {width: 426px;}
.w323 {width: 323px;}
.w689 {width: 689px;}
.w315 {width: 315px;}
.marb20 {margin-bottom: 20px !important;}
.mart20 {margin-top: 20px !important;}
.marb10 {margin-bottom: 10px !important;}
.marb30 {margin-bottom: 30px !important;}
.marb5 {margin-bottom: 5px !important;}
.marb25 {margin-bottom: 25px !important;}
.marb14 {margin-bottom: 14px !important;}
.marb15 {margin-bottom: 15px !important;}
.marb18 {margin-bottom: 15px !important;}
.marl8 {margin-left: 8px;}
.marl15 {margin-left: 15px;}
.marl25 {margin-left: 25px;}
.marl-5 {margin-left: -5px;}
.marr-5 {margin-right: -5px;}
.marr58 {margin-right: 58px !important;}
.marr22 {margin-right: 22px !important;}
.marr79 {margin-right: 79px !important;}
.marr22 {margin-right: 22px !important;}
.marr79 {margin-right: 79px !important;}
.marr35 {margin-right: 35px !important;}
.marr10 {margin-right: 10px !important;}
.mart5 {margin-top: 5px !important;}
.mart50{margin-top:50px !important;}
.marr29 {margin-right: 29px !important;}
.marr20 {margin-right: 20px !important;}
.marr10 {margin-right: 10px !important;}
.marr15 {margin-right: 15px !important;}
.marb38 {margin-bottom: 38px !important;}
.pad10{padding:10px !important}
.pad15{padding:15px !important}
.pad20{padding:20px !important}
.pad25{padding:25px !important}
.pad30{padding:30px !important}
.pad35{padding:35px !important}
.padt10 {padding-top: 10px !important;}
.padb10 {padding-bottom: 10px !important;}
.padl15 {padding-left: 15px !important;}
.padr15 {padding-right: 15px !important;}
.padb10 {padding-bottom: 10px !important;}
.padb15 {padding-bottom: 15px !important;}
.f12{font-size:12px !important;}
.f13{font-size:13px !important;}
.f14{font-size:14px !important;}
.f15{font-size:15px !important;}
.f16{font-size:16px !important;}
.f17{font-size:17px !important;}
.f18{font-size:18px !important;}
.f19{font-size:19px !important;}
.f20{font-size:20px !important;}
.f21{font-size:21px !important;}
.f22{font-size:22px !important;}
.f23{font-size:23px !important;}
input{font-family:'Lato';}
.c333{color:#333;}
.lheight20{line-height:20px !important;}
.lheight18{line-height:18px !important;}
.no_bg{background:none !important;}
.c555{color:#555;}
.cred{color:#ec1d23;}
.txt_justify{text-align:justify;}
.content_p p{margin-bottom:10px;}
.wrapper {margin: 0 auto;width:90%;}
#preloader{background:#fff url(../images/preloader-white.gif) no-repeat center;width:100%;height:100%;position:fixed;left:0px;top:54px;z-index:51;}
header{position:fixed;top:0px;left:0px;width:100%;z-index:50;}
header > h1 > img{width:180px;}

header h1{padding:10px 0px;text-align:center;background:url(../images/bg.jpg) repeat;z-index:56;position:relative;}
header h1 a{position:absolute;}
header h1 a.menu{left:0px;top:15px;}
header h1 a.back{right:5%;top:13px;}
header h1 a.setting{right:5%;top:15px;}

.clearfix:after{display:block;height:0;content:"";clear:both;}
.login .wrapper{}
.login h1{margin:15% 0px 50px 0px;text-align:center;}
.login h3{text-align:center;position:relative;}
.login h3 img{display:block;margin:0 auto;}
.login h3:before{position:absolute;bottom:6px;left:0%;height:1px;width:25%;content:"";background:#fff;}
.login h3:after{position:absolute;bottom:6px;right:0%;height:1px;width:25%;content:"";background:#fff;}
.form_box td input[type=text]{ border: 1px solid #cccccc; border-radius: 2px;  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #4e4e4e; display: block; font-size: 14px; resize: none;  background: #d8d6d6; padding: 10px 12px; transition: border-color 0.15s ease-in-out 0s; box-shadow 0.15s ease-in-out 0s; width: 100%; }
.form_box td input[type=text], .form_box td input[type=password]{width:100%;padding:5px 5%;}
.txt_center{text-align:center;}
.login_box{padding:10px 10px 0px 10px;background:#fff;border-radius:5px;position:relative;}
.login_box table{}
.form_box td{padding:10px 0px;}
.form_box td.elem{position:relative;}

.login_box .form_box td input[type=text], .login_box .form_box td input[type=number]{border:none;border-bottom:1px solid #d4d4d4;font-size:15px;background:none;box-shadow:none;padding:6px 5%;resize:none;width:100%;}
.login_box .form_box td input[type=password]{font-size:15px;padding:6px 5%;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.login_but{position:absolute;bottom:-40px;right:10px;color:#fff;padding:10px 35px;box-shadow:0px 2px 5px #666;background:none;border:none;font-size:15px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;z-index:0;}
.cfff{color:#fff;}
.dialog{position:fixed;background:rgba(42, 100, 206, 0.7);color:#fff;font-size:12px;bottom:15%;left:50%;margin-left:-110px;padding:12px 10px;width:200px;display:none;text-align:center;text-transform:capitalize;z-index:56;border-radius:2px;}
.error{background:#4889af;padding:7px 10px;font-size:12px;color:#fff;position:absolute;right:5px;top:-20px;border-radius:2px;}
.error:after{border-width:10px;border-color:#4889af transparent transparent transparent;border-style:solid;content:'';position:absolute;bottom:-18px;left:15px;}
.overlay{position:fixed;width:100%;height:100%;background:rgba(255,255,255,0.8) url(../images/preloader.gif) no-repeat center;left:0px;top:0px;z-index:55;display:none;}

.login{background:url(../images/bg.jpg) repeat;}
section.pad{padding:15px 0px;}
.page_title{color:#eb2026;font-size:22px;padding:10px 5%;border-bottom:1px solid #c6c6c6;margin-top:54px;font-weight:normal;position:relative;}

/*FAQ Accordian*/


#navigation {
	margin:0px;
	padding:0px;
	text-indent:0px;
}
#navigation a.head {
	cursor:pointer;
	display:block;
	padding:20px 4.8%;
	text-decoration: none;
	font-size: 18px;
	color:#333333;
	background-image: url("../images/icons/acc1.png");
	background-repeat:no-repeat;
	background-position:95% center;
	border-bottom:1px solid #dcdcdc;
	border-left:4px solid #bfbfbf;
}
#navigation > li:nth-child(odd){background-color:#f8f8f8;}
#navigation a.selected {
	background-image: url("../images/icons/acc_active.png");
}
#navigation a.current {
	background-color:#FFFF99;
	
}

#navigation li> ul{
	padding:8px 4%;
	
}
#navigation > li > ul{background:#efeded;}
#navigation ul li p.title{color:#eb2026;font-size:16px;margin-bottom:5px;}
#navigation ul li div{color:#555555;font-size:13px;margin-bottom:15px;}
#navigation ul li div p{margin-bottom:10px;}

nav{background:url(../images/bg.jpg) repeat;position:fixed;height:91%;top:54px;left:-150px;width:120px;padding:0px 10px;overflow:auto;z-index:56;}
nav li a{display:block;color:#fff;text-align:center;}
nav li{margin-bottom:10px;}
nav li a p{font-size:15px;}
nav li a span{height:48px;width:53px;background-image:url(../images/icons/menu_icons.png);display:block;margin:0 auto 0px auto;background-repeat:no-repeat;}
#case_study span{background-position:-4px 10px;}
#epoll span{background-position:0px -74px;}
#shared_learning span{background-position:0px -320px;}
#assessment span{background-position:-2px -400px;}
#inbox span{background-position:-2px -238px;}
#wocktube span{background-position:-4px -157px;}
#faqs span{background-position:-4px -478px;}
#milestone span{background-position:-2px -564px;}
#performance_wall span{background-position:-4px -640px;}
#important span{background-position:-2px -728px;}
#archives span{background-position:0px -821px;}
#deleted span{background-position:0px -916px;}
.overlay2{position:fixed;width:100%;height:100%;background:rgba(0, 0, 0, 0.7) no-repeat center;left:0px;top:0px;z-index:55;display:none;}
.home_icons{position:fixed;width:100%;left:0px;top:54px;z-index:0;}
.home_icons li{width:33.33%;height:25%;position:absolute;}
.home_icons li a{position:absolute;width:100%;height:80%;text-align:center;padding:5% 0% 15%;color:#22282f;}
.home_icons li a img{display:block;margin:0 auto;}
.home_icons li a p{font-size:14px;}
.epoll_result li{padding:15px 5%;font-size:15px;color:#22282f;border-bottom:1px solid #dcdcdc;}
.epoll_result li:last-child{border:none;}
.epoll_result li:after{display:block;height:0;content:"";clear:both;}
.epoll_result li p{float:left;}
.epoll_result li div{float:right;color:#eb2026;font-weight:600;}
#epoll_ques li div input{width:18px;height:18px;}
h5{font-weight:normal;color:#eb2026;font-size:15px;padding:0px 5%;margin-bottom:10px;}
.red_but{ background: #eb1f25;    color: #fff;border:none;display:inline-block;padding:10px 0px;width:100%;font-size:15px;border-radius:5px;text-align:center;}
.elem{position:relative;}


.user_info .mname{font-size:12px;color:#444444;float:left;}
.user_info .mdate{font-size:12px;color:#444444;float:right;}
.messages li a{display:block;padding:10px 5%;color:#333;}
.messages li:nth-child(even) a{background:#fff;}
 .mtitle{font-size:16px;margin-bottom:5px;color:#333333;font-weight:600;}
.desc{display:none;}
.description p{margin-bottom:5px;}
.user_info{padding:10px 5%;background:#f2f2f2;font-size:15px;}
.description{padding:10px 0px;font-size:14px;}
.msg_set{position:absolute;right:0px;top:0px;}
.msg_set a{background-image:url(../images/icons/inbox_sprite.png);background-repeat:no-repeat;background-position:0px 0px;width:55px;padding:24px 0px;border-left:1px solid #dcdcdc;display:block;float:left;}
.msg_set a#important{background-position:15px 11px;}
.msg_set a#archive{background-position:-78px 8px;}
.msg_set a#delete{background-position:-181px 10px;}
.msg_set a#inbox{background-position:-267px 10px;}
.performance_wall li:after{display:block;height:0;content:"";clear:both;}
.performance_wall li > div.employee{float:left;margin:0 !important;}
.performance_wall li{background:none;}
.performance_wall li > div.headquarter{float:right;margin:0 !important;}
.performance_wall li ul{background:#fff !important;padding:0px 0px !important;}
.performance_wall li ul li{background:#efeded;padding:12px 5%;}
.performance_wall li ul li:nth-child(even){background:#fff;}
.performance_wall#navigation ul li div{font-size:15px;}

/***/

/*Carousel*/
.list_carousel {
				margin:0 auto;
				width: 320px;
				position:relative;
			}
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.list_carousel li {
				width: 320px;
				height: 270px;
				padding: 0;
				margin: 0px 0px;
				display: block;
				float: left;
			}
			.list_carousel li  img{display:block;}
			.list_carousel.responsive {
				width: auto;
				margin-left: 0;
			}
			.clearfix {
				float: none;
				clear: both;
			}
			.prev {
				position:absolute;top:50%;margin-top:-15px;left:15px;
			}
			.next {
				position:absolute;top:50%;margin-top:-15px;right:15px;
			}
			.pager {
				float: left;
				width: 300px;
				text-align: center;
			}
			.pager a {
				margin: 0 5px;
				text-decoration: none;
			}
			.pager a.selected {
				text-decoration: underline;
			}
			.carousel_detail{padding:15px 10px;background:#eb2026;text-align:center;}
			.carousel_detail ul li{border-right:1px solid #b10d12;display:inline-block;padding:5px 20px;color:#fff;font-size:14px;}
			.carousel_detail ul li a{color:#fff;display:block;}
			.carousel_detail ul li:last-child{border:none;}
			.window{padding:15px 20px;background:#fff;font-size:14px;}
			.window h2{margin-bottom:15px;font-weight:normal;font-size:25px;color:#eb2026;}
			.window p{margin-bottom:10px;}
		
	
			
ul.ind_list li a{padding:15px 15px 15px 20px;display:block;}
ul.ind_list li:nth-child(even){background:#d4d3d3;}
ul.ind_list li:nth-child(odd){background:#e3e0e0;}
ul.ind_list li a p{margin-bottom:10px;font-size:13px;color:#666666;}
ul.ind_list li a p:last-child{margin:0;}
.error_box_center{position:fixed;top:50%;margin-top:-20px;color:#fff;background:rgba(0,0,0,0.5);font-size:15px;left:50%;margin-left:-150px;width:280px;padding:10px;display:none;text-align:center;border-radius:5px;}
.top_title .back_ico{position:absolute;right:20px;top:12px;padding:10px;}
.top_title .back_ico img{display:block;}

/*dev css starts*/
.area_form{padding: 20px;}
* { box-sizing: border-box;}
.form-control{margin-bottom: 15px; font-size: 15px;}
.form-control SELECT{background: #f5f5f5; color: #838282;} 
.form-control INPUT{background: #d8d6d6;}
.form-control SELECT, .form-control input[type="text"], .form-control input[type="email"], .form-control input[type="file"], .arrow-btn{
    border: 1px solid #cccccc;
    border-radius: 5px; 
-ms-border-radius: 5px; 
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #4e4e4e;
    display: block;
    font-size: 15px;
    height: 42px;
    line-height: 1.42857;
    padding: 10px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}
.btn-default {
    background-color: #ffffff;
    border-color: #cccccc;
    color: #333333;
}
.btn-default:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333333;
}
.form-control INPUT.red-btn {
    background: #eb1f25;
    color: #fff;
    cursor: pointer;
}
.arrow-btn.red-arrow {
    color: #f0232b;    
}
.red-arrow .badge {
    background-position: 15px -68px;
    border-left: 1px solid #e49b9e;
}
.badge {
    background: url(../images/right-arrow.png) no-repeat 15px 12px;
    width: 28px;
    height: 40px;
    margin: -6px 0 0 0px;
    border-left: 1px solid #a0a0a0;
    float: right;
}
.checkbox, .radio {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}
.checkbox label, .radio label {

    cursor: pointer;
    font-weight: 400;
    margin-bottom: 0;
    min-height: 20px;
    padding-left: 20px;
    max-width: 100%;
}
.checkbox-inline, .radio-inline {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 0;
    margin-right: 10px;
    padding-left: 25px;
    position: relative;
    vertical-align: middle;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    margin-left: -20px;
    margin-top: 4px;
    position: absolute;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
}
.edit_info .info_block label.checked , .submit_info .info_block label.checked {
    color: #eb2026;
}
.feedback.edit_info .info_block label.checked , .feedback.submit_info .info_block label.checked {
    color: #333;
}
.edit_info .info_block label.disabled , .submit_info .info_block label.disabled {
    color: #a0a0a0;
}
.padtb0{padding-top: 0 !important; padding-bottom: 0 !important;}
.arrow-btn {
    background: #f5f5f5;
    border: 1px solid #a0a0a0;
    line-height: 28px;
    color: #000;
    font-weight: 500;
}

.submit_info p{margin-bottom: 10px;}
.submit_info p span{ color: #838282;}
.submit_info .form-control {
    border-bottom: 1px solid #bfbfbf;
    padding: 15px 15px 15px 15px;
    margin: 0 0 0 0;
}
.submit_info .form-control > label{ font-size: 15px; margin-right: 5px;}
.submit_info span.redtxt{ color: #eb2026; font-size: 15px;}
.edit_info .info_block span.redtxt{ color: #eb2026; font-size: 15px;}
.submit_info .form-control > span .small-input{ width: 30%;}
.edit_info .info_block span.redtxt input.small-input{color: #eb2026;}
.edit_info .info_block span input.small-input.redtxt{color: #eb2026;}
.submit_info.wide .form-control > span{float: right;}
.submit_info .form-control.bor0{border: 0;}
.edit_info .info_block{ padding: 15px 5%;}
.edit_info .info_block.heading{ border-color: #dcdbdb; border-style: solid;border-width: 0px 0 1px 0;}
.edit_info .info_block label{font-size: 15px; color: #333; margin-right: 5px; vertical-align: top;}
.edit_info .details .info_block label{font-size: 15px; color: #595959;}
.edit_info .info_block span{ float: right; width: 20%; text-align: center;color: #4e4e4e; font-size: 15px;}
.edit_info .info_block.normal span{ float: none; color: #4e4e4e; font-size: 15px; width: auto;}
.edit_info .info_block span.red, .edit_info .info_block span.red input{color: #eb2026;}
.edit_info .info_block label.red{ color: #eb2026;}
.edit_info .info_block span input.small-input{ border: 1px solid #cccccc; border-radius: 5px; -webkit-border-radius: 5px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #838282; display: inline-block; font-size: 15px; height: 35px; padding: 5px 5px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width: 100%; background: #d8d6d6; position: relative; top:-7px; text-align: center;}
.edit_info .details.progress_section .info_block{ position: relative;}
.edit_info .details.progress_section label{font-size: 14px; padding-left: 30px; position: relative; cursor: pointer;}
.edit_info .details.progress_section label:before{ border-left: 3px solid #ccc; display: inline-block; content:''; height:50px; position: absolute; left:10px;}
.edit_info .details.progress_section .last label:before{ border-left: 0px;}
small.circle.green{border:5px solid #17b255;}
small.circle.red{border:5px solid #f0232b;}
small.circle{height: 20px; width: 20px; background: #fff; position: absolute; left: 17px; z-index: 1; border-radius: 50px; border:6px solid #646161; box-shadow: 0px 0px 5px #ccc;}
.confirmbox p{font-size: 16px; color: #333;}
.p{font-size: 16px; color: #333; margin-bottom: 15px;}
.radio-group{margin: 15px 0;}
.feedback .radio-group{margin: 15px 0 0;}
textarea{ border: 1px solid #cccccc; border-radius: 5px;  -ms-border-radius: 5px;  -moz-border-radius: 5px; -webkit-border-radius: 5px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #4e4e4e; display: block; font-size: 14px; resize: none;  background: #d8d6d6; padding: 10px 12px; transition: border-color 0.15s ease-in-out 0s; box-shadow 0.15s ease-in-out 0s; width: 100%; height:90px;}
/*popup css starts*/
.pop_content h3{color: #eb2026; font-size: 16px; border-bottom: 1px solid #ccc; padding: 15px; font-weight: 600;}
#cboxLoadedContent { overflow: visible !important;}
.division p{line-height:32px;}
.division .left{ width: 49%; float: left;}
.division .right{ width: 49%; float: right;}
.redlink{color: #eb1f25; display: inline-block; margin-bottom: 15px; background: url(../images/double-arrow-red.png) no-repeat center right; padding-right: 25px; text-decoration: underline; }
.redlink:hover,.redlink:focus{ text-decoration: underline;}
.ui-accordion-header-active a{ background-image: url("../images/icons/expanded.png"); background-position: 95% 50%; background-repeat: no-repeat;}
/*dev css ends*/

.top_title2{font-size:16px;color:#333333;padding:15px 5%;border-left:5px solid #bfbfbf;border-bottom:1px solid #dcdbdb;font-weight:normal;background:#e3e0e0;}
.page_title a.plus{position:absolute;top:10px;right:5%;}
.select_box{padding:5px 0px;background:#f8f8f8;position:relative;overflow:hidden;border:1px solid #d0d1d1;border-radius:2px;}
.select_box select{padding:5px 5%;width:110%;background:none;position:relative;z-index:1;font-size:15px;color:#737373;}
.select_box:after{position:absolute;z-index:0;content:"";width:40px;height:36px;background:url(../images/icons/select.png) no-repeat center;right:0px;top:0px;}

.comment_like .like img{vertical-align:middle;}
.comment_like .like{margin-right:15px;font-size:15px;}
.comment_like .comment {font-size:15px;color:#ed1c24;}

.uname{font-size:14px;margin-bottom:5px;color:#000;}

.shared_messages li{padding:15px 5% 5px 5%;border-bottom:1px solid #dcdcdc;}
.shared_messages li .mtitle{text-transform:capitalize;}
.capital{text-transform:capitalize;}

/*Carousel*/
.list_carousel {

position:relative;
width:90%;margin:0 auto;

}
.list_carousel ul {
margin: 0;
padding: 0;
list-style: none;
display: block;
}
.list_carousel li {
width: 100px;
height:175px;
padding: 0;
margin: 0px 6px 0px 0px;
display: inline-block;
text-align:center;

}
.video_panel .list_carousel li {height:80px;}
.list_carousel li a{display:inline-block;position:relative;}
.list_carousel li img{border-radius:2px;display:block;margin:0 auto;}
.list_carousel.responsive {
width: auto;
margin-left: 0;
}

.prev {
float: left;

}
.next {
float: right;

}
.comment_list li {padding:10px;background:#ebebeb;margin-bottom:5px;border-radius:2px;}
.c444{color:#444;}
.c000{color:#000;}

.radio_list > * {display:inline-block;}
.radio_list > input[type=radio]{width:18px;height:18px;vertical-align:middle;margin-right:5px;}
.radio_list > input[type=checkbox]{width:18px;height:18px;vertical-align:middle;margin-right:5px;}
.radio_list > span{margin-right:10px;font-size:15px;vertical-align:middle;}

.form_box td label{font-size:14px;color:#666666;margin-bottom:5px;display:block;}
.hide{display:none;}
#shared_carousel .prev, #shared_carousel .next{position:absolute;right:0px;top:50%;margin-top:-40px;}
#shared_carousel .prev{left:0px;}
#shared_carousel .next{right:0px;}
.ctitle{color:#333333;font-size:16px;margin-bottom:5px;}
.cdate{color:#444;font-size:13px;}
.case_title{position:relative;background:#f8f8f8;padding:12px 4%;border-left:4px solid #bfbfbf;}
.case_title > img{position:absolute;top:22px;right:5%;}
.cdesc{padding:10px 0px;}
.cdesc p{margin-bottom:8px;}
.case_comment{padding:8px; background:#ebebeb;}

.txt_right{text-align:right;}
.underline{text-decoration:underline;}
.vmiddle{vertical-align:middle;}
.case_comment_list li{padding:10px 5%;border-bottom:1px solid #bfbfbf;}
.case_comment_list li:last-child{border:none;}
.case_comment_list .like button{background:none;border:none;}
#setting{padding:18px;background:#fff;}
#setting td{padding:10px 0px;}
#setting .select_box select{width:100%;padding:5px 0%;}
#setting .select_box:after{display:none;}

.e_list li a{display:block;background:#fff;padding:20px 4%;color:#333333;font-size:16px;background:url(../images/icons/arrow.png) no-repeat 95% center;}
.e_list li{border-left:5px solid #bfbfbf;border-bottom:1px solid #dcdbdb;}


.ui-wrapper { border: 1px solid #50A029; }
.ui-wrapper input, .ui-wrapper textarea { border: 0; }

ul.ui-accordion-container { margin: 0; padding: 0; list-style-type: none; }
ul.ui-accordion-container li { margin: 0;padding: 0; }
ul.ui-accordion-container > li a.ui-accordion-link { display: block; padding:10px 15px;background-color: #e3e0e0; color: #333333; text-decoration: none;  font-size:20px;background-image: url("../images/icons/acc1.png");background-repeat:no-repeat;background-position:95% 50%;}
ul.ui-accordion-container > li li  a.ui-accordion-link{background-color:#f9f8f8;padding: 8px 15px;font-size:16px;background-image: url("../images/icons/acc1.png");background-repeat:no-repeat;background-position:95% 50%;}
a.ui-accordion-link{cursor:pointer;}


ul.ui-accordion-container > li.selected > a.ui-accordion-link { background-image: url("../images/icons/acc_active.png"); }
.acc_content{padding:10px 15px 0px 15px;font-size:14px;}
.acc_content p{margin-bottom:5px;}
.acc_content p a{text-decoration:none;}
.ass_title{padding:8px 4%;border-left:4px solid #bfbfbf;color:#333333;background:#e3e0e0;font-weight:normal;font-size:15px;}
.score{padding:10px 0px;background:#e3e0e0;font-size:16px;position:fixed;bottom:0px;left:0px;width:100%;}
.question_box{padding:10px 0px;}
.qtitle{font-size:15px;color:#eb2026;margin-bottom:10px;}
.question_box ul li {padding:5px 0px;}
.question_box ul li label{font-size:14px;}
.question_box ul li input[type=radio]{width:18px;height:18px;vertical-align:middle;margin-right:5px;}
.question_box ul li input[type=checkbox]{width:18px;height:18px;vertical-align:middle;margin-right:5px;}
#time_up{padding:20px;background:#fff;text-align:center;}
.result_panel{padding:10px 0px;text-align:center;}
.result_panel h6{font-size:25px;font-weight:normal;}


.flevel{padding:0;}
.flevel  li a.ui-accordion-link { display: block; padding:10px 15px;background-color: #fff !important; color: #333333; text-decoration: none;  font-size:20px;background-image: url("../images/icons/acc1.png");background-repeat:no-repeat;background-position:95% 50%;}
.pending_list li{padding:10px 5%;font-size:16px;color:#333;position:relative;}
.pending_list li:nth-child(odd){background:#ccc;}
.mstatus{position:absolute;right:0px;top:10px;right:5%;}

.sequence select{padding:5px;border:1px solid #ccc;margin-left:10px;color:#333;}

/*Library*/
.rating li{float:left;background-image:url(../images/star2.png);background-repeat:no-repeat;background-position:0px 0px;width:17px;height:17px;margin-right:5px;}
.rating li.blank{background-position:-45px 0px;}
#navigation li >  ul{}
#navigation ul li> a{background:url(../images/pdf.png) 0px 6px no-repeat;padding:5px 0px 5px 25px;color:#333;font-size:16px;text-transform:capitalize;}
.article_box td{padding:0px 5px 0px 0px;vertical-align:middle;}
.red_but3{ border:2px solid #eb1f25;   color: #eb1f25;display:inline-block;padding:5px 0px;width:100%;font-size:15px;border-radius:5px;text-align:center;}
.article_box a{padding:5px 20px;border:2px solid #eb1f25;}
.user_rating{text-align:center;}
.user_rating li{display:inline-block;background-image:url(../images/star1.png);background-repeat:no-repeat;background-position:-132px 0px;width:17px;height:17px;margin-right:5px;width:37px;height:35px;}
.user_rating li.active{background-position:0px 0px;}

.rate_count{font-size:15px;}
#rate_pop h5{font-size:22px;text-align:center;}
.article > li {border-bottom:1px solid #ccc;padding:8px 5%;}
.article{padding:0px !important;}
.top_title{ font-size: 22px;    color: #eb2026;    padding: 15px 15px 15px 20px;    border-bottom: 1px solid #c6c6c6;    font-weight: normal;      background: #fff;margin:0px 0px 0px 0px;position:relative;}