/*CSS*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, input, select {
border: 0 none;
margin: 0;
padding: 0;
}
body {
background: #fff;
color: #666666;
font-family: 'Source Sans Pro', sans-serif;
font-size: 13px;
}
.container {
height: 100%;
width: 100%;
}
input, textarea, select{outline:none;}
a {outline: 0 none;text-decoration: none;}
a:hover {text-decoration: none;}
input{outline:none;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {display: block;}
ul {list-style: none outside none;}
.clear {clear: both;}
.floatl {float: left;}
.floatr {float: right !important;}
.w420 {width: 420px;}
.w301 {width: 301px;}
.w190 {width: 195px;}
.w184 {width: 184px;}
.w167 {width: 167px;}
.w610 {width: 610px}
.w490 {width: 490px;}
.w85 {width: 85px}
.w55 {width: 55px;}
.w200 {width: 200px;}
.w208 {width: 208px}
.w272 {width: 272px;}
.w733 {width: 733px;}
.w202 {width: 202px;}
.w248 {width: 248px;}
.w763 {width: 763px;}
.w464 {width: 464px;}
.w300 {width: 300px;}
.w193 {width: 193px;}
.w311 {width: 311px;}
.w364 {width: 364px;}
.w243 {width: 243px;}
.w373 {width: 373px;}
.w322 {width: 322px;}
.w710 {width: 710px;}
.w420 {width: 420px;}
.w764 {width: 764px;}
.w426 {width: 426px;}
.w323 {width: 323px;}
.w689 {width: 689px;}
.w315 {width: 315px;}
.marb20 {margin-bottom: 20px !important;}
.mart20 {margin-top: 20px !important;}
.marb10 {margin-bottom: 10px !important;}
.marb30 {margin-bottom: 30px !important;}
.marb5 {margin-bottom: 5px !important;}
.marb25 {margin-bottom: 25px !important;}
.marb14 {margin-bottom: 14px !important;}
.marb15 {margin-bottom: 15px !important;}
.marb18 {margin-bottom: 15px !important;}
.marl8 {margin-left: 8px;}
.marl15 {margin-left: 15px;}
.marl25 {margin-left: 25px;}
.marl-5 {margin-left: -5px;}
.marr-5 {margin-right: -5px;}
.marr58 {margin-right: 58px !important;}
.marr22 {margin-right: 22px !important;}
.marr79 {margin-right: 79px !important;}
.marr22 {margin-right: 22px !important;}
.marr79 {margin-right: 79px !important;}
.marr35 {margin-right: 35px !important;}
.marr10 {margin-right: 10px !important;}
.mart5 {margin-top: 5px !important;}
.mart50{margin-top:50px !important;}
.marr29 {margin-right: 29px !important;}
.marr20 {margin-right: 20px !important;}
.marr10 {margin-right: 10px !important;}
.marr15 {margin-right: 15px !important;}
.marb38 {margin-bottom: 38px !important;}
.pad10{padding:10px !important}
.pad15{padding:15px !important}
.pad20{padding:20px !important}
.pad25{padding:25px !important}
.pad30{padding:30px !important}
.pad35{padding:35px !important}
.padt10 {padding-top: 10px !important;}
.padb10 {padding-bottom: 10px !important;}
.padl15 {padding-left: 15px !important;}
.padr15 {padding-right: 15px !important;}
.padb10 {padding-bottom: 10px !important;}
.padb15 {padding-bottom: 15px !important;}
.f12{font-size:12px !important;}
.f13{font-size:13px !important;}
.f14{font-size:14px !important;}
.f15{font-size:15px !important;}
.f16{font-size:16px !important;}
.f17{font-size:17px !important;}
.f18{font-size:18px !important;}
.f19{font-size:19px !important;}
.f20{font-size:20px !important;}
.f21{font-size:21px !important;}
.f22{font-size:22px !important;}
.f23{font-size:23px !important;}
input{font-family: 'Source Sans Pro', sans-serif;}
.c333{color:#333;}
.lheight20{line-height:20px !important;}
.lheight18{line-height:18px !important;}
.no_bg{background:none !important;}
.c555{color:#555;}
header{position:fixed;top:0px;width:100%;left:0px;}
.cred{color:#ec1d23;}
.txt_justify{text-align:justify;}
.content_p p{margin-bottom:10px;}
.wrapper {margin: 0 auto;width:1004px;}
#preloader{background:#fff url(../images/preloader-white.gif) no-repeat center;width:100%;height:100%;position:fixed;left:0px;top:0px;z-index:50;}
.clearfix:after{display:block;height:0;content:"";clear:both;}
.top_title{ font-size: 22px;    color: #eb2026;    padding: 15px 15px 15px 20px;    border-bottom: 1px solid #c6c6c6;    font-weight: normal;      background: #fff;margin:0px 0px 0px 0px;position:relative;}
.top_title2{font-size:16px;color:#333333;padding:15px 15px 15px 15px;border-left:5px solid #bfbfbf;border-bottom:1px solid #dcdbdb;font-weight:normal;background:#e3e0e0;}
.e_list li a{display:block;background:#fff;padding:20px 15px;color:#333333;font-size:16px;background:url(../images/icons/arrow.png) no-repeat 95% center;}
.e_list li{border-left:5px solid #bfbfbf;border-bottom:1px solid #dcdbdb;}
.ed_title{color:#f0262d !important;font-size:13px;}
.box{overflow-y:scroll;}
/*Carousel*/
.list_carousel {
				margin:0 auto;
				width: 320px;
				position:relative;
			}
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.list_carousel li {
				width: 320px;
				height: 270px;
				padding: 0;
				margin: 0px 0px;
				display: block;
				float: left;
			}
			.list_carousel li  img{display:block;}
			.list_carousel.responsive {
				width: auto;
				margin-left: 0;
			}
			.clearfix {
				float: none;
				clear: both;
			}
			.prev {
				position:absolute;top:50%;margin-top:-15px;left:15px;
			}
			.next {
				position:absolute;top:50%;margin-top:-15px;right:15px;
			}
			.pager {
				float: left;
				width: 300px;
				text-align: center;
			}
			.pager a {
				margin: 0 5px;
				text-decoration: none;
			}
			.pager a.selected {
				text-decoration: underline;
			}
			.carousel_detail{padding:15px 10px;background:#eb2026;text-align:center;}
			.carousel_detail ul li{border-right:1px solid #b10d12;display:inline-block;padding:5px 20px;color:#fff;font-size:14px;}
			.carousel_detail ul li a{color:#fff;display:block;}
			.carousel_detail ul li:last-child{border:none;}
			.window{padding:15px 20px;background:#fff;font-size:14px;}
			.window h2{margin-bottom:15px;font-weight:normal;font-size:25px;color:#eb2026;}
			.window p{margin-bottom:10px;}
			header{padding:15px 0px;background:#ee1f27;text-align:center;}
	
			
ul.ind_list li a{padding:15px 15px 15px 20px;display:block;}
ul.ind_list li:nth-child(even){background:#d4d3d3;}
ul.ind_list li:nth-child(odd){background:#e3e0e0;}
ul.ind_list li a p{margin-bottom:10px;font-size:13px;color:#666666;}
ul.ind_list li a p:last-child{margin:0;}
.error_box_center{position:fixed;top:50%;margin-top:-20px;color:#fff;background:rgba(0,0,0,0.5);font-size:15px;left:50%;margin-left:-150px;width:280px;padding:10px;display:none;text-align:center;border-radius:5px;}
.top_title .back_ico{position:absolute;right:20px;top:12px;padding:10px;}
.top_title .back_ico img{display:block;}