/*CSS*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, input, select {
border: 0 none;
margin: 0;
padding: 0;
}
body {
background: #fff;
color: #333;
font-family: 'Source Sans Pro', sans-serif;
font-size: 13px;
}
.container {
height: 100%;
width: 100%;
}
input, textarea, select{outline:none;}
a {outline: 0 none;text-decoration: none; font-weight: normal;}
a:hover {text-decoration: none;}
input{outline:none;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {display: block;}
ul {list-style: none outside none;}
.clear {clear: both;}
.floatl {float: left;}
.floatr {float: right !important;}
.w420 {width: 420px;}
.w301 {width: 301px;}
.w190 {width: 195px;}
.w184 {width: 184px;}
.w167 {width: 167px;}
.w610 {width: 610px}
.w490 {width: 490px;}
.w85 {width: 85px}
.w55 {width: 55px;}
.w200 {width: 200px;}
.w208 {width: 208px}
.w272 {width: 272px;}
.w733 {width: 733px;}
.w202 {width: 202px;}
.w248 {width: 248px;}
.w763 {width: 763px;}
.w464 {width: 464px;}
.w300 {width: 300px;}
.w193 {width: 193px;}
.w311 {width: 311px;}
.w364 {width: 364px;}
.w243 {width: 243px;}
.w373 {width: 373px;}
.w322 {width: 322px;}
.w710 {width: 710px;}
.w420 {width: 420px;}
.w764 {width: 764px;}
.w426 {width: 426px;}
.w323 {width: 323px;}
.w689 {width: 689px;}
.w315 {width: 315px;}
.marb20 {margin-bottom: 20px !important;}
.mart20 {margin-top: 20px !important;}
.marb10 {margin-bottom: 10px !important;}
.marb30 {margin-bottom: 30px !important;}
.marb5 {margin-bottom: 5px !important;}
.marb25 {margin-bottom: 25px !important;}
.marb14 {margin-bottom: 14px !important;}
.marb15 {margin-bottom: 15px !important;}
.marb18 {margin-bottom: 15px !important;}
.marl8 {margin-left: 8px;}
.marl15 {margin-left: 15px;}
.marl25 {margin-left: 25px;}
.marl-5 {margin-left: -5px;}
.marr-5 {margin-right: -5px;}
.marr58 {margin-right: 58px !important;}
.marr22 {margin-right: 22px !important;}
.marr79 {margin-right: 79px !important;}
.marr22 {margin-right: 22px !important;}
.marr79 {margin-right: 79px !important;}
.marr35 {margin-right: 35px !important;}
.marr10 {margin-right: 10px !important;}
.mart5 {margin-top: 5px !important;}
.mart50{margin-top:50px !important;}
.marr29 {margin-right: 29px !important;}
.marr20 {margin-right: 20px !important;}
.marr10 {margin-right: 10px !important;}
.marr15 {margin-right: 15px !important;}
.marb38 {margin-bottom: 38px !important;}
.pad10{padding:10px !important}
.pad15{padding:15px !important}
.pad20{padding:20px !important}
.pad25{padding:25px !important}
.pad30{padding:30px !important}
.pad35{padding:35px !important}
.padt10 {padding-top: 10px !important;}
.padb10 {padding-bottom: 10px !important;}
.padl15 {padding-left: 15px !important;}
.padr15 {padding-right: 15px !important;}
.padb10 {padding-bottom: 10px !important;}
.padb15 {padding-bottom: 15px !important;}
.f12{font-size:12px !important;}
.f13{font-size:13px !important;}
.f14{font-size:14px !important;}
.f15{font-size:15px !important;}
.f16{font-size:16px !important;}
.f17{font-size:17px !important;}
.f18{font-size:18px !important;}
.f19{font-size:19px !important;}
.f20{font-size:20px !important;}
.f21{font-size:21px !important;}
.f22{font-size:22px !important;}
.f23{font-size:23px !important;}
input{font-family: 'Source Sans Pro', sans-serif;}
.c333{color:#333;}
.lheight20{line-height:20px !important;}
.lheight18{line-height:18px !important;}
.no_bg{background:none !important;}
.c555{color:#555;}
header{position:fixed;top:0px;width:100%;left:0px;}
.cred{color:#ec1d23;}
.txt_justify{text-align:justify;}
.content_p p{margin-bottom:10px;}
.wrapper {margin: 0 auto;width:1004px;}
#preloader{background:#fff url(../images/preloader-white.gif) no-repeat center;width:100%;height:100%;position:fixed;left:0px;top:0px;z-index:50;}
.clearfix:after{display:block;height:0;content:"";clear:both;}
.top_title{ font-size: 22px;    color: #eb2026;    padding: 15px 15px 15px 20px;    border-bottom: 1px solid #c6c6c6;    font-weight: normal;      background: #fff;margin:0px 0px 0px 0px;position:relative;}
.top_title2{font-size:16px;color:#333333;padding:15px 15px 15px 15px;border-left:5px solid #bfbfbf;border-bottom:1px solid #dcdbdb;font-weight:normal;background:#e3e0e0;}
.e_list li a{display:block;background:#fff;padding:20px 15px;color:#333333;font-size:16px;background:url(../images/icons/arrow.png) no-repeat 95% center;}
.e_list li{border-left:5px solid #bfbfbf;border-bottom:1px solid #dcdbdb;}
.ed_title{color:#f0262d !important;font-size:13px;}
.box{overflow-y:auto;}
/*Carousel*/
.list_carousel {
				margin:0 auto;
				width: 320px;
				position:relative;
			}
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.list_carousel li {
				width: 320px;
				height: 270px;
				padding: 0;
				margin: 0px 0px;
				display: block;
				float: left;
			}
			.list_carousel li  img{display:block;}
			.list_carousel.responsive {
				width: auto;
				margin-left: 0;
			}
			.clearfix {
				float: none;
				clear: both;
			}
			.prev {
				position:absolute;top:50%;margin-top:-15px;left:15px;
			}
			.next {
				position:absolute;top:50%;margin-top:-15px;right:15px;
			}
			.pager {
				float: left;
				width: 300px;
				text-align: center;
			}
			.pager a {
				margin: 0 5px;
				text-decoration: none;
			}
			.pager a.selected {
				text-decoration: underline;
			}
			.carousel_detail{padding:15px 10px;background:#eb2026;text-align:center;}
			.carousel_detail ul li{border-right:1px solid #b10d12;display:inline-block;padding:5px 20px;color:#fff;font-size:14px;}
			.carousel_detail ul li a{color:#fff;display:block;}
			.carousel_detail ul li:last-child{border:none;}
			.window{padding:15px 20px;background:#fff;font-size:14px;}
			.window h2{margin-bottom:15px;font-weight:normal;font-size:25px;color:#eb2026;}
			.window p{margin-bottom:10px;}
			header{padding:15px 0px;background:#ee1f27;text-align:center;}
	
			
ul.ind_list li a{padding:15px 15px 15px 20px;display:block;}
ul.ind_list li:nth-child(even){background:#d4d3d3;}
ul.ind_list li:nth-child(odd){background:#e3e0e0;}
ul.ind_list li a p{margin-bottom:10px;font-size:13px;color:#666666;}
ul.ind_list li a p:last-child{margin:0;}
.error_box_center{position:fixed;top:50%;margin-top:-20px;color:#fff;background:rgba(0,0,0,0.5);font-size:15px;left:50%;margin-left:-150px;width:280px;padding:10px;display:none;text-align:center;border-radius:5px;}
.top_title .back_ico{position:absolute;right:20px;top:12px;padding:10px;}
.top_title .back_ico img{display:block;}

/*dev css starts*/
.area_form{padding: 20px;}
* { box-sizing: border-box;}
.form-control{margin-bottom: 15px; font-size: 15px;}
.form-control SELECT{background: #f5f5f5; color: #838282;} 
.form-control INPUT{background: #d8d6d6;}
.form-control SELECT, .form-control input[type="text"], .form-control input[type="email"], .form-control input[type="file"], .arrow-btn{
    border: 1px solid #cccccc;
    border-radius: 5px; 
-ms-border-radius: 5px; 
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #4e4e4e;
    display: block;
    font-size: 15px;
    height: 42px;
    line-height: 1.42857;
    padding: 10px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}
.btn-default {
    background-color: #ffffff;
    border-color: #cccccc;
    color: #333333;
}
.btn-default:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333333;
}
.form-control INPUT.red-btn , .form-control a.red-btn {
    background: #eb1f25;
    color: #fff;
    cursor: pointer;
}
.arrow-btn.red-arrow {
    color: #f0232b;    
}
.red-arrow .badge {
    background-position: 15px -68px;
    border-left: 1px solid #e49b9e;
}
.badge {
    background: url(../images/right-arrow.png) no-repeat 15px 12px;
    width: 28px;
    height: 40px;
    margin: -6px 0 0 0px;
    border-left: 1px solid #a0a0a0;
    float: right;
    position: absolute;
    right: 15px;
}
.checkbox, .radio {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}
.checkbox label, .radio label {
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 0;
    min-height: 20px;
    padding-left: 20px;
    max-width: 100%;
}
.checkbox-inline, .radio-inline {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 0;
    margin-right: 10px;
    padding-left: 25px;
    position: relative;
    vertical-align: middle;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    margin-left: -20px;
    margin-top: 4px;
    position: absolute;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
}
.edit_info .info_block label.checked , .submit_info .info_block label.checked {
    color: #eb2026;
}
.feedback.edit_info .info_block label.checked , .feedback.submit_info .info_block label.checked {
    color: #333;
}
.edit_info .info_block label.disabled , .submit_info .info_block label.disabled {
    color: #a0a0a0;
}
.padtb0{padding-top: 0 !important; padding-bottom: 0 !important;}
.arrow-btn {
    background: #f5f5f5;
    border: 1px solid #a0a0a0;
    line-height: 28px;
    color: #000;
    font-weight: 500;
    position: relative;
}

.submit_info p{margin-bottom: 10px;}
.submit_info p span{ color: #838282;}
.submit_info .form-control.borb0 {
    border-bottom: 0;
}
.submit_info .form-control {
    border-bottom: 1px solid #bfbfbf;
    padding: 15px 15px 15px 15px;
    margin: 0 0 0 0;
}
.submit_info .form-control > label{ font-size: 15px; margin-right: 5px;}
.submit_info span.redtxt{ color: #eb2026; font-size: 15px;}
.edit_info .info_block span.redtxt{ color: #eb2026; font-size: 15px;}
.submit_info .form-control > span .small-input{ width: 30%;}
.edit_info .info_block span.redtxt input.small-input{color: #eb2026;}
.edit_info .info_block span input.small-input.redtxt{color: #eb2026;}
.submit_info.wide .form-control > span{float: right;}
.submit_info .form-control.bor0{border: 0;}
.edit_info .info_block{ padding: 15px 15px 15px 15px;}
.edit_info .info_block.heading{ border-color: #dcdbdb; border-style: solid;border-width: 1px 0 1px 0;}
.edit_info .info_block label{font-size: 15px; color: #333; margin-right: 5px; vertical-align: top;}
.edit_info .details .info_block label{font-size: 15px; color: #595959;}
.edit_info .info_block > span{ float: right; width: 20%; text-align: center;color: #4e4e4e; font-size: 15px;}
.edit_info .info_block.normal span{ float: none; color: #4e4e4e; font-size: 15px; width: auto;}
.edit_info .info_block span.red, .edit_info .info_block span.red input{color: #eb2026;}
.edit_info .info_block label.red{ color: #eb2026;}
.edit_info .info_block span input.small-input{ border: 1px solid #cccccc; border-radius: 5px; -webkit-border-radius: 5px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #838282; display: inline-block; font-size: 15px; height: 35px; padding: 5px 5px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width: 100%; background: #d8d6d6; position: relative; top:-7px; text-align: center;}
.edit_info .details.progress_section .info_block{ position: relative;}
.edit_info .details.progress_section label{font-size: 14px; padding-left: 30px; position: relative; cursor: pointer;}
.edit_info .details.progress_section label:before{ border-left: 3px solid #ccc; display: inline-block; content:''; height:50px; position: absolute; left:10px;}
.edit_info .details.progress_section .last label:before{ border-left: 0px;}
small.circle.green{border:5px solid #17b255;}
small.circle.red{border:5px solid #f0232b;}
small.circle{height: 20px; width: 20px; background: #fff; position: absolute; left: 17px; z-index: 1; border-radius: 50px; border:6px solid #646161; box-shadow: 0px 0px 5px #ccc;}
.info_block.active small{border:5px solid #17b255;}
.info_block.deactive small{border:5px solid #f0232b;}
.confirmbox p{font-size: 16px; color: #333;}
.p{font-size: 16px; color: #333; margin-bottom: 15px;}
.radio-group{margin: 15px 0;}
.feedback .radio-group{margin: 15px 0 0;}
textarea{ border: 1px solid #cccccc; border-radius: 5px;  -ms-border-radius: 5px;  -moz-border-radius: 5px; -webkit-border-radius: 5px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #4e4e4e; display: block; font-size: 14px; resize: none;  background: #e9e9e9; padding: 10px 12px; transition: border-color 0.15s ease-in-out 0s; box-shadow 0.15s ease-in-out 0s; width: 100%; }
/*popup css starts*/
.pop_content h3{color: #eb2026; font-size: 16px; border-bottom: 1px solid #ccc; padding: 15px; font-weight: 600;text-transform:uppercase;}
#cboxLoadedContent { overflow: visible !important;}
.division p{line-height:32px;}
.division .left{ width: 49%; float: left;}
.division .right{ width: 49%; float: right;}
.redlink{color: #eb1f25; display: inline-block; margin-bottom: 15px; background: url(../images/double-arrow-red.png) no-repeat center right; padding-right: 25px; text-decoration: underline; }
.redlink:hover,.redlink:focus{ text-decoration: underline;}
.ui-accordion-header-active a{ background-image: url("../images/icons/expanded.png"); background-position: 95% 50%; background-repeat: no-repeat;}
/*dev css ends*/
.vlist li{padding:8px 0px;background:#fff;list-style:none;position:relative;}
.vlist li a h2{font-size:20px;color:#333333;margin-bottom:8px;}
.vlist li a span{position:absolute;right:10px;bottom:10px;width:26px;height:26px;background-image:url(../images/icons/download_ico.png);background-repeat:no-repeat;}
.vlist li a span.downloaded{background-position:0px -28px !important;}
.vlist li:nth-child{background:#dfdede;}
.vlist a .video_thumb{float:left;width:35%;margin-right:5%;}
.vlist a .video_thumb > img{display:block;width:100%;}
.vlist a .video_detail{float:left;width:60%;}
.vlist a .video_detail > div{padding:0px 0px;}
.vlist li:after{display:block;height:0;content:"";clear:both;}
.vlist a{display:block;}
.vlist a div p{font-size:15px;color:#333;}

#vtitle{color:#ee292f;font-size:20px;}
.desc{font-size:15px;color:#333;}
.rate{margin:15px 0px 0px 15px;}
.rate:after{display:block;height:0;content:"";clear:both;}
.rate li{float:left;margin-right:2px;}
.rate li a{background-image:url(../images/icons/rating.png);background-repeat:no-repeat;width:18px;height:18px;display:block;background-position:right 0px;}
.rate li.active a, .rate li.star_hover a{background-position:left 0px;}

.button{    background: #eb1f25;    color: #fff;    cursor: pointer;display:inline-block;padding:8px 10px;text-align:center;font-size:15px;border-radius:5px;min-width:130px;}
.com_form textarea{height:85px;}
.clist li{list-style:none;margin-bottom:15px;}
.clist li > p{font-size:17px;margin-bottom:10px;}
.uname{font-weight:bold;font-size:13px;}

.udate{color:#666666;margin-top:15px;}
.download{position:absolute;bottom:10px;right:10px;background:url(../images/icons/download_ico.png) no-repeat 0px -28px;}
.download_active{position:absolute;bottom:10px;right:10px;background:url(../images/icons/download_ico.png) no-repeat 0px 0px;}
.del_all{background:#eb1f25; color: #fff;    cursor: pointer;display:block;padding:8px 10px;text-align:center;font-size:15px;}
footer{position:fixed;bottom:0px;left:0px;width:100%;}
/*dev changes*/
.vlist { padding-bottom: 35px; }
.vlist li{padding: 15px 20px; background: #e9e9e9;}
.vlist li:nth-child(even){ background: #dedede;}
.clist li{ background: #e9e9e9; padding: 10px; margin-bottom: 10px;}
.marb0{margin-bottom: 0;}
.delete-btn.btn{background: #eb1f25; color: #fff; width: auto; display: inline-block; position: absolute; right: 45px; bottom: 9px; padding: 1px 10px 2px 10px; cursor: pointer;z-index:50;}
.back_BT { position: absolute; top: 15px; left: 10px; display: block;background:#eb1f25;padding:8px 5px;width:30px;border-radius:50%;}
.back_BT > img{display:block;width:100%;}
section{position: relative;}
.overlay, .lightbox{position:fixed;width:100%;height:100%;top:0px;left:0px;z-index:5;display:none;}
.overlay {background:rgba(0,0,0,0.8);}
.windows{position:absolute;top:5%;width:100%;z-index:7;background:none;}
.windows .video_box{width:100%;}
.windows .video_box video{width:100%;height:350px;}
.windows .close{position:absolute;bottom:0px;right:0px;}



.fullscreen{position:fixed;background:#000;top:0px;left:0px;width:100%;height:100%;z-index:5;}
.fullscreen .players, .fullscreen #youtubePlayer{position:fixed;top:0px;left:0px;-webkit-transform:rotate(90deg);transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);-webkit-transform-origin:0% 0%;-moz-transform-origin:0% 0%;-ms-transform-origin:0% 0%;-o-transform-origin:0% 0%;}
.close_but{padding: 10px 0px; display: block; width:40px;background: #eb1f25; color: #fff;font-size: 20px; font-family: 'latomedium', arial; position:absolute;bottom:0px;right:0px;z-index:50;text-align:center;-webkit-transform:rotate(90deg);transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);display:none;}
.fullscreen .close_but{display:block;} 