<!DOCTYPE html><html lang="en"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       
        <meta http-equiv="Content-Security-Policy">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="css/pure-min.css">
		<link rel="stylesheet" href="css/grids-responsive-min.css">
        <title>Survey</title>
		<style>
		.wrapper{width:90%;margin:0 auto;}
		
		
		ul li{list-style:none;margin-bottom:5px;}
		ul li input{margin-right:5px;vertical-align:middle;}
		.timer{position:fixed;bottom:0px;left:0px;width:100%;padding:10px 5%;background:#ccc;text-align:right;}
		section{padding-bottom:60px;}
		</style>
		
		<script>
		
		function showAssesment(divCode, userId, levelCode, empId, asstId, asstDivId, attempts, duration, marks, passPercent){

					$("#div_code").val(divCode);
					$("#user_id").val(userId);
					$("#level_code").val(levelCode);
					$("#emp_id").val(empId);
					$("#asst_id").val(asstId);
					$("#asst_div_id").val(asstDivId); 
					$("#attempts").val(attempts);
					$("#duration").val(duration);//in minutes
					$("#marks").val(marks);//in marks
					$("#pass_percent").val(passPercent);//in pass percent
					console.log(divCode);
                	console.log(userId);
                	console.log(levelCode);
                	console.log(empId);
                	console.log(asstId);
                	console.log(asstDivId);
                	console.log(attempts);
                	console.log(duration);
                		
                	console.log(duration);
                	console.log(passPercent);	
					
					angular.element(document.getElementById('body')).scope().getAssessment();
		}
				
		</script>
		
    </head>
    <body ng-app="wgenie"  ng-controller='quiz' id="body">

	<section>
	<h3 class="top_title">Assesment</h3>
		<div class="wrapper">
			<h5></h5>
			<div class="quizbox" ng-if="completed==false">.
				<h2 class="ques"><span>{{index+1}}.</span> {{question.questions}}</h2>
				<div class="qpanel">
						<div ng-if="question.type=='0'">
							
							<ul ng-if="question.options">
								<li ng-repeat="option in question.options"><input type="radio" name="options" id="{{$index+1}}" value="{{$index+1}}"> <label for="{{$index + 1}}">{{option}}</label></li>
							</ul>
							
						</div>
						<div ng-if="question.type=='3'">
							<div><textarea></textarea></div>
							
						</div>
						<div ng-if="question.type=='2'">
							 <div id="puzzle-containment" style="background:#eee;margin:10px 0;padding:10px;text-align:center">
								<div class="pure-g" style="max-width:1280px;margin:auto">
									<div class="pure-u-1 pure-u-md-1-2"><div style="margin:10px">
										<img id="source_image" class="pure-img" src="{{question.imageUrl}}">
									</div></div>
									<div class="pure-u-1 pure-u-md-1-2">
										<div id="pile" style="margin:10px">
											
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div ng-if="question.type=='5'">
							<div class="ranking_list">
								<ul class="slides">
									<li ng-repeat="item in question.order" data-value="{{item}}" data-index="{{$index}}" class="slide {{slide+$index}}"><a href="#">{{item}}</a></li>

								</ul>
							</div>
						</div>
						
						<div ng-if="question.type=='4'">
							<div class="image_selection">
								<ul >
									<li ng-repeat="image in question.images" data-value="{{$index+1}}"><a href="#" style='background-image:url({{image}})'></a></li>

								</ul>
							</div>
						</div>
						<div ng-if="question.type=='1'">
							<div class="match clearfix">
								<ul class="options">
									<li ng-repeat="option in question.options" data-index="{{$index}}" data-value="{{answer}}" data-match-id="{{$index}}"><div>{{option}}</div></li>
								</ul>
								<ul class="ans">
									<li ng-repeat="answer in question.answers"  data-index="{{$index}}" data-value="{{answer}}" data-match-id=""><div>{{answer}}</div></li>
								</ul>
							</div>
						</div>
				</div>
				<div>
					<button ng-Click="checkAns($event)" id="next" class="red_but">Next</button>
				</div>
				<div class="timer">Time remaining: {{timer}}</div>
			</div>
			<div id="thankyou_box" ng-if="completed==true">
					<h5>Thank you </h5>
					
					<button ng-if="attempts<3" ng-Click="tryAgain($event)">Try again</button> <button>Results</button>
			</div>
		
		
		<input type="hidden" id="div_code" />
        <input type="hidden" id="user_id" />
        <input type="hidden" id="level_code" />
        <input type="hidden" id="emp_id" />
		<input type="hidden" id="asst_id" />
		<input type="hidden" id="asst_div_id" />
		
		<input type="hidden" id="duration" />
		<input type="hidden" id="attempts" />
		<input type="hidden" id="marks" />
		<input type="hidden" id="pass_percent" />
		
		
		
		</div>
	</section>
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery-ui.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/jquery.snap-puzzle.min.js"></script>
		<script src="js/controller/quiz.js"></script>
        <script>
        // jQuery UI Touch Punch 0.2.3 - must load after jQuery UI
        // enables touch support for jQuery UI
        !function(a){function f(a,b){if(!(a.originalEvent.touches.length>1)){a.preventDefault();var c=a.originalEvent.changedTouches[0],d=document.createEvent("MouseEvents");d.initMouseEvent(b,!0,!0,window,1,c.screenX,c.screenY,c.clientX,c.clientY,!1,!1,!1,!1,0,null),a.target.dispatchEvent(d)}}if(a.support.touch="ontouchend"in document,a.support.touch){var e,b=a.ui.mouse.prototype,c=b._mouseInit,d=b._mouseDestroy;b._touchStart=function(a){var b=this;!e&&b._mouseCapture(a.originalEvent.changedTouches[0])&&(e=!0,b._touchMoved=!1,f(a,"mouseover"),f(a,"mousemove"),f(a,"mousedown"))},b._touchMove=function(a){e&&(this._touchMoved=!0,f(a,"mousemove"))},b._touchEnd=function(a){e&&(f(a,"mouseup"),f(a,"mouseout"),this._touchMoved||f(a,"click"),e=!1)},b._mouseInit=function(){var b=this;b.element.bind({touchstart:a.proxy(b,"_touchStart"),touchmove:a.proxy(b,"_touchMove"),touchend:a.proxy(b,"_touchEnd")}),c.call(b)},b._mouseDestroy=function(){var b=this;b.element.unbind({touchstart:a.proxy(b,"_touchStart"),touchmove:a.proxy(b,"_touchMove"),touchend:a.proxy(b,"_touchEnd")}),d.call(b)}}}(jQuery);
		
		
		   function start_puzzle(x){
          //  $('#puzzle_solved').hide();
           
        }


		window.onload = function () {
    //showAssesment("E", "2", "L1", "8081", "17", 1, 0, 10, 100, 80);
}


		
		</script>
		
		
        
		
    </body>
</html>
	