<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta http-equiv="Content-Security-Policy">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <title>Survey</title>
    </head>
    <body ng-app="survey"  ng-controller='questions'>
		<header>
			<div>
				<img src="img/logo.png" width="200" />
				<img src="img/cipla.png" style="left: 1500px;top:10px;position: absolute;" width="200" />
			</div>
		</header>
		<section>
        <div class="wrapper panel_box">
			<div id="doctor_info">
				<table class="form">
					<tr>
						<td><label>Name:</label></td>
						<td class="elem"><input type="text" ng-model="name" id="name" placeholder="Type your name here"></td>
					</tr>
					<tr>
						<td><label>Email:</label></td>
						<td class="elem"><input type="text" ng-model="email" id="email" placeholder="Type your email id here"></td>
					</tr>
					<tr>
						<td><label>Region:</label></td>
						<td class="elem"><input type="text" ng-model="region" id="region" placeholder="Type your region here"></td>
					</tr>
					<tr>
						<td><label>Mobile No:</label></td>
						<td class="elem"><input type="number" ng-model="mobile" id="mobile" placeholder="Type your mobile number here"></td>
					</tr>
					
					<tr>
						<td align="center" colspan="2"><br /><button class="button" ng-click="startSurvey($event);">Submit</button></td>
					</tr>
				</table>
			</div>
			<div id="quiz_info">
				<!-- <p>Changing the child's life together</p> -->
				<div><h3>Welcome Dr. {{name}}</h3></div>
				<div>
					<h6>Survey topic : Standard of care in pediatric asthma</h6>
				</div>
				<fieldset>
					<legend>Objective</legend>
					<p>To understand your current pediatric asthma practice and get insights which will help us to serve you better towards raising the standard of care  in pediatric asthma.</p>

				</fieldset>
				<br />
				<div><center><button class="bluebtn" ng-click="startQuiz($event);">Next</button></center></div>
			</div>
			<div id="thank_you">
				<div>
					<h3>Thank you</h3>
				</div>
				<h6>We appreciate your time</h6>
				<div><center><a href="index.html" class="button">Restart</a></center></div>
			</div>
			<div id="questions_info">
			<table id="q1">
					<tr>
						<td>Where do you practice?</td>
					</tr>
					<tr>
						<td>
							<div class="elem">								
								<input type="radio" name="q1" value="Metro"> <label>Metro</label><br />
								<input type="radio" name="q1" value="Non-metro"> <label>Non-metro</label>							
							</div>
						</td>
					</tr>
					<tr>
						<td align="center"><br /><br />
							<button ng-click="submitData('#q1')">Next</button>
						</td>
					</tr>
				</table>
				<table id="q2">
					<tr>
						<td>Practise type</td>
					</tr>
					<tr>
						<td>
							<div class="elem">								
								<input type="radio" name="q2" value="General paediatrician"> <label>General paediatrician</label><br />
								<input type="radio" name="q2" value="Paediatrician with pulmonary practise "> <label>Paediatrician with pulmonary practice </label>
							</div>
						</td>
					</tr>
					<tr>
						<td align="center"><br /><br />
							<button ng-click="submitData('#q2')">Next</button>
						</td>
					</tr>
				</table>
				<table id="q3">
					<tr>
						<td>Practise type</td>
					</tr>
					<tr>
						<td>
							<div class="elem">								
								<input type="radio" name="q3" value="Solo clinic"> <label>Solo clinic</label><br />
								<input type="radio" name="q3" value="Polyclinic"> <label>Polyclinic</label><br />
								<input type="radio" name="q3" value="Private hospital(non tertiary)"> <label>Private hospital(non tertiary)</label><br />
								<input type="radio" name="q3" value="Private hospital(tertiary)"> <label>Private hospital(tertiary)</label><br />
								<input type="radio" name="q3" value="Govt hospital(non tertiary)"> <label>Govt hospital(non tertiary)</label><br />
								<input type="radio" name="q3" value="Govt hospital(tertiary)"> <label>Govt hospital(tertiary)</label><br />
								<input type="radio" name="q3" value="Other"> <label>Other </label>
							</div>
						</td>
					</tr>
					<tr>
						<td align="center"><br /><br />
							<button ng-click="submitData('#q3')">Next</button>
						</td>
					</tr>
				</table>
				<!-- <table id="q1"> -->
					<!-- <tr> -->
						<!-- <td><span class="num">1</span> Which of the below initiative is a better training module on pediatric asthma?</td> -->
					<!-- </tr> -->
					<!-- <tr> -->
						<!-- <td> -->
							<!-- <div class="elem"> -->
								<!-- <input type="checkbox" name="q1" value="Casper"> <label>Casper</label><br /> -->
								<!-- <input type="checkbox" name="q1" value="Casper clinics"> <label>Casper clinics</label><br /> -->
								<!-- <input type="checkbox" name="q1" value="ATM (asthma training module)"> <label>ATM (asthma training module)</label><br /> -->
								<!-- <input type="checkbox" name="q1" value="All the above"> <label>All the above</label> -->
							<!-- </div> -->
						<!-- </td> -->
					<!-- </tr> -->
					<!-- <tr> -->
						<!-- <td align="center"> -->
							<!-- <br /><br /> -->
							<!-- <button ng-click="submitData('#q1')">Next</button> -->
						<!-- </td> -->
					<!-- </tr> -->
				<!-- </table>	 -->
				<table id="q4">
					<tr>
						<td><span class="num">1</span> Which aspects of Casper training module appeals you?</td>
					</tr>
					<tr>
						<td>
							<div class="elem">
								<input type="checkbox" name="q4" value="Relevant, practical content on pediatric asthma"> <label>Relevant, practical content on pediatric asthma</label><br />
								<input type="checkbox" name="q4" value="Hands on training on devices an effective way"> <label>Hands on training on devices an effective way</label><br />
								<input type="checkbox" name="q4" value="Good experienced faculty"> <label>Good experienced faculty</label><br />
								<input type="checkbox" name="q4" value="Scope of further improvement"> <label>Scope of further improvement </label><br>
								<textarea rows="3" cols="60" placeholder="enter here" ng-model="txtq4" class="text-area"></textarea>								
							</div>
						</td>
					</tr>
					<tr>
						<td align="center"><br /><br />
							<button ng-click="submitData('#q4')">Next</button>
						</td>
					</tr>
				</table>	
				<table id="q5">
					<tr>
						<td><span class="num">2</span> From the below listed option, select your source for knowledge updation?</td>
					</tr>
					<tr>
						<td>
							<div class="elem">
								<input type="checkbox" name="q5" value="Conferences"> <label>Conferences</label><br />
								<input type="checkbox" name="q5" value="CMEs"> <label>CMEs</label><br />
								<input type="checkbox" name="q5" value="Books/Journal articles"> <label>Books/Journal articles</label><br />
								<input type="checkbox" name="q5" value="Online educational website"> <label>Online educational website</label>
							</div>
						</td>
					</tr>
					<tr>
						<td align="center"><br /><br />
							<button ng-click="submitData('#q5')">Next</button>
						</td>
					</tr>
				</table>	
				<table id="q6">
					<tr>
						<td><span class="num">3</span> Do you feel the necessity of training your nurses/assistant for asthma practice?</td>
					</tr>
					<tr>
						<td>
							<div class="elem">
								<input type="radio" name="q6" value="Yes"> <label>Yes</label><br />
								<input type="radio" name="q6" value="No"> <label>No</label><br />
								<input type="radio" name="q6" value="May be"> <label>May be</label>
							</div>
						</td>
					</tr>
					<tr>
						<td align="center"><br /><br />
							<button ng-click="submitData('#q6')">Next</button>
						</td>
					</tr>
				</table>	
				<table id="q7">
					<tr>
						<td><span class="num">4</span> If yes, what according to you should be the topics for nurses/ assistants training: </td>
					</tr>
					<tr>
						<td>
							<div class="elem">
								<input type="checkbox" name="q7" value="Training on Inhaler Devices/nebulization "> <label>Training on Inhaler Devices/nebulization </label><br />
								<input type="checkbox" name="q7" value="Handling patient queries"> <label>Handling patient queries</label><br />
								<input type="checkbox" name="q7" value="Monitoring asthma with breathe o meter"> <label>Monitoring asthma with breathe o meter</label><br />
								<input type="checkbox" name="q7" value="Any more suggestions"> <label>Any more suggestions </label>
								<textarea rows="3" cols="60" placeholder="enter here" ng-model="txtq7"></textarea>		
							</div>
						</td>
					</tr>
					<tr>
						<td align="center"><br /><br />
							<button ng-click="submitData('#q7')">Next</button>
						</td>
					</tr>
				</table>	
				<table id="q8">
					<tr>
						<td><span class="num">5</span> Would you like to run patient education films in your waiting area?</td>
					</tr>
					<tr>
						<td>
							<div class="elem">
								<input type="radio" name="q8" value="Yes"> <label>Yes</label><br />
								<input type="radio" name="q8" value="No"> <label>No</label>								
							</div>
						</td>
					</tr>
					<tr>
						<td align="center"><br /><br />
							<button ng-click="submitData('#q8')">Next</button>
						</td>
					</tr>
				</table>	
				<table id="q9">
					<tr>
						<td><span class="num">6</span>Do you have the infrastructure for the above?</td>
					</tr>
					<tr>
						<td>
							<div class="elem">
								<input type="radio" name="q9" value="Yes"> <label>Yes</label><br />
								<input type="radio" name="q9" value="No"> <label>No</label>								
							</div>
						</td>
					</tr>
					<tr>
						<td align="center"><br /><br />
							<button ng-click="submitData('#q9')">Next</button>
						</td>
					</tr>
				</table>	
				<!-- <table id="q7"> -->
					<!-- <tr> -->
						<!-- <td><span class="num">7</span>Would you like to use synchrobreathe in your pediatric patients?:</td> -->
					<!-- </tr> -->
					<!-- <tr> -->
						<!-- <td> -->
							<!-- <div class="elem"> -->
								<!-- <input type="checkbox" name="q7" value="Can be used in patients with low inspiratory efforts, gets activated at 23-30 l/min"> <label>Can be used in patients with low inspiratory efforts, gets activated at 23-30 l/min</label><br /> -->
								<!-- <input type="checkbox" name="q7" value="Suitable for patient across age groups."> <label>Suitable for patient across age groups.</label><br /> -->
								<!-- <input type="checkbox" name="q7" value="Dose counter helps to know no of doses used."> <label>Dose counter helps to know no of doses used.</label><br /> -->
								<!-- <input type="checkbox" name="q7" value="Overcomes problem of hand-lung coordination seen with pMDI."> <label>Overcomes problem of hand-lung coordination seen with pMDI.</label><br /> -->
								<!-- <input type="checkbox" name="q7" value="All of the above"> <label>All of the above</label> -->
								
							<!-- </div> -->
						<!-- </td> -->
					<!-- </tr> -->
					<!-- <tr> -->
						<!-- <td align="center"><br /><br /> -->
							<!-- <button ng-click="submitData('#q7')">Next</button> -->
						<!-- </td> -->
					<!-- </tr> -->
				<!-- </table>	 -->
				<table id="q10">
					<tr>
						<td><span class="num">7</span> Would you like to use synchrobreathe in your pediatric patients?</td>
					</tr>
					<tr>
						<td>
							<div class="elem">
								<input type="radio" name="q10" value="Yes"> <label>Yes</label><br />
								<input type="radio" name="q10" value="No"> <label>No</label>
							</div>
						</td>
					</tr>
					<tr>
						<td align="center"><br /><br />
							<button ng-click="submitData('#q10')">Next</button>
						</td>
					</tr>
				</table>	
				<table id="q11">
					<tr>
						<td><span class="num">8</span> Where would you position fluticasone propionate 50 mcg (inhaler) in your pediatric patients? </td>
					</tr>
					<tr>
						<td>
							<div class="elem">
								<input type="checkbox" name="q11" value="More severe asthma"> <label>More severe asthma</label><br />
								<input type="checkbox" name="q11" value="Step down from salmeterol+fluticasone therapy"> <label>Step down from salmeterol+fluticasone therapy</label><br />
								<input type="checkbox" name="q11" value="As an option to budesonide"> <label>As an option to budesonide</label><br />
								<input type="checkbox" name="q11" value="No specific positioning"> <label>No specific positioning</label>
							</div>
						</td>
					</tr>
					<tr>
						<td align="center"><br /><br />
							<button ng-click="submitData('#q11')">Next</button>
						</td>
					</tr>
				</table>	
				<table id="q12">
					<tr>
						<td><span class="num">9</span> What information would you like to have on fluticasone propionate 50 mcg (inhaler) before prescribing in your practice?</td>
					</tr>
					<tr>
						<td>
							<div class="elem">
								<input type="checkbox" name="q12" value="Efficacy data"> <label>Efficacy data</label><br />
								<input type="checkbox" name="q12" value="Safety data"> <label>Safety data</label><br />
								<input type="checkbox" name="q12" value="Comparative data with budesonide"> <label>Comparative data with budesonide</label><br />
								<input type="checkbox" name="q12" value="None of the above"> <label>None of the above</label>
							</div>
						</td>
					</tr>
					<tr>
						<td align="center"><br /><br />
							<button ng-click="submitData('#q12')">Next</button>
						</td>
					</tr>
				</table>	
				<table id="q13">
					<tr>
						<td><span class="num">10</span>Are you aware about the #berokzindagi campaign and add on TV?</td>
					</tr>
					<tr>
						<td>
							<div class="elem">
								<input type="radio" name="q13" value="Yes"> <label>Yes</label><br />
								<input type="radio" name="q13" value="No"> <label>No</label>
							</div>
						</td>
					</tr>
					<tr>
						<td align="center"><br /><br />
							<button ng-click="submitData('#q13')">Next</button>
						</td>
					</tr>
				</table>	
				<table id="q14">
					<tr>
						<td><span class="num">11</span> Have you seen any impact of #berokzindagi initiative in your practice?</td>
					</tr>
					<tr>
						<td>
							<div class="elem">
								<input type="checkbox" name="q14" value="Increase in the flow of asthma patient"> <label>Increase in the flow of asthma patient</label><br />
								<input type="checkbox" name="q14" value="Better acceptance to asthma diagnosis and inhalation therapy"> <label>Better acceptance to asthma diagnosis and inhalation therapy</label><br />
								<input type="checkbox" name="q14" value="Less time spent for patient counselling"> <label>Less time spent for patient counselling</label><br />
								<input type="checkbox" name="q14" value="Yet to see results"> <label>Yet to see results</label>
							</div>
						</td>
					</tr>
					<tr>
						<td align="center"><br /><br />
							<button ng-click="submitData('#q14')">Next</button>
						</td>
					</tr>
				</table>	
				<table id="q15">
					<tr>
						<td><span class="num">12</span> What benefits you have seen from asthma clinic running at your place:</td>
					</tr>
					<tr>
						<td>
							<div class="elem">
								<input type="checkbox" name="q15" value="Better acceptance of inhalation therapy "> <label>Better acceptance of inhalation therapy</label><br />
								<input type="checkbox" name="q15" value="Reduced counselling time"> <label>Reduced counselling time</label><br />
								<input type="checkbox" name="q15" value="Improved adherence"> <label>Improved adherence</label><br />
								<input type="checkbox" name="q15" value="Don’t have an asthma clinic "> <label>Don’t have an asthma clinic </label>
							</div>
						</td>
					</tr>
					<tr>
						<td align="center"><br /><br />
							<button ng-click="submitData('#q15')">Next</button>
						</td>
					</tr>
				</table>	
				<!-- <table id="q14"> -->
					<!-- <tr> -->
						<!-- <td><span class="num">14</span> Beyond asthma what are the respiratory conditions that you come across</td> -->
					<!-- </tr> -->
					<!-- <tr> -->
						<!-- <td> -->
							<!-- <div class="elem"> -->
								<!-- <input type="checkbox" name="q14" value="URTI"> <label>URTI</label><br /> -->
								<!-- <input type="checkbox" name="q14" value="Pneumonia"> <label>Pneumonia</label><br /> -->
								<!-- <input type="checkbox" name="q14" value="Bronchitis"> <label>Bronchitis</label><br /> -->
								<!-- <input type="checkbox" name="q14" value="others"> <label>Others, pls specify</label> -->
							<!-- </div> -->
						<!-- </td> -->
					<!-- </tr> -->
					<!-- <tr> -->
						<!-- <td align="center"><br /><br /> -->
							<!-- <button ng-click="submitData('#q14')">Next</button> -->
						<!-- </td> -->
					<!-- </tr> -->
				<!-- </table>	 -->
				<table id="q16">
					<tr>
						<td><span class="num">13</span>Any recommendations for products to be launched for strengthening your practice on asthma:</td>
					</tr>
					<tr>
						<td>
							<div class="elem">							
							<textarea rows="5" cols="60" placeholder="enter here" ng-model="recommend">{{}}</textarea>
							</div>
						</td>
					</tr>
					<tr>
						<td align="center"><br /><br />	
							<button ng-click="submitData('#q16', 'last')">Submit</button>
						</td>
					</tr>
				</table>	
				
			</div>
        </div>
		</section>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controller/questions.js"></script>
    </body>
</html>
