/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
*{padding:0;margin:0;}

body {
 font-family:"Arial Narrow";
   font-size:14px;
   background: url(../img/body_bg.jpg) no-repeat center fixed;
   background-size:cover;
   margin:0;
}

/* Portrait layout (default) */



h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

#questions_info{display:none;}
#thank_you{display:none;}
#questions_info table{display:none;}
input[type=text], input[type=number]{padding:8px 2% 8px 2%;background:none;border:none;border-bottom:2px solid #fff;display:block;width:90%;color:#fff;}
input[type=checkbox], input[type=radio]{width:18px;height:18px;}
section{padding:15px 0px;}
.form{width:80%;margin:0 auto;}
.form td{padding:0px 0px;}
.elem{padding-bottom:15px !important;}
.form td label{padding:5px 2%;color:#fff;font-weight:bold;vertical-align:middle;}
#questions_info table{width:100%;}
#questions_info table td .elem br{margin:5px 0px;}

.button{border:none;background:#fff;padding:8px 15px;color:#00B6BD;border-radius:4px;min-width:190px;display:inline-block;font-size:16px;box-shadow:0px 0px 10px #999;}
table td button, button.bluebtn{border:none;background:#0E75AB;padding:8px 15px;color:#fff;border-radius:4px;min-width:190px;display:inline-block;font-size:16px;box-shadow:0px 0px 10px #999;}
.elem{position:relative;}
.error{background:#df0118;padding:10px 10px;font-size:14px;color:#fff;position:absolute;left:5px;top:-40px;border-radius:2px;display:none;z-index:5;}
.error:after{border-width:10px;border-color:#df0118 transparent transparent transparent;border-style:solid;content:'';position:absolute;bottom:-18px;left:15px;}
header{position:relative;top:0px;left:0px;z-index:5;background:#fff;width:100%;}
header div{width:100%;height:80px;background:#fff;position:absolute;left:0px;top:70px;}
header div img{position:absolute;top:-60px;left:5%;}
.panel_box{width:1000px;margin:18% auto 0 12%;max-width:90%;}
.panel_box > div{padding:4%;background:#fff;border-radius:5px;background-size:50%;min-height:300px;width: 100	%;}
#doctor_info{background:none;}
#thank_you h3{color:#0E75AB;font-size:50px;margin-bottom:10px;text-align:center;font-weight:normal;}
h3{color:#0E75AB;font-size:26px;margin-bottom:10px;text-align:center;font-weight:normal;}
h6{color:#383D44;font-size:18px;text-align:center;font-weight:normal;margin:30px 0px}
#thank_you h6{color:#383D44;font-size:20px;text-align:center;font-weight:normal;margin:30px 0px}
fieldset{border:1px solid #ccc;text-align:center;padding:0px 15px 20px 10px;}
legend{color:#0E75AB;font-size:26px;padding:10px 25px;margin:0 auto;}
fieldset p{color:#383D44;font-size:16px;margin:0;}
#quiz_info{display:none;}
#quiz_info {color:#0E75AB;text-align:Center;}
#questions_info table td{font-size:18px;color:#383D44;}
table td span.num{font-size:35px;font-weight:bold;color:#0E75AB;margin:0px 5px 0px 0px;}
table td label{font-weight:normal;}

.elem input::placeholder {color: #fff}
.elem .text-area{resize: none; margin: 15px 5px;}
.padb10{padding-bottom: 10px}
.otpion{padding-top:12px;}
#doctor_info .form td label{font-size:20px; font-weight: normal;}
#doctor_info input[type=text], #doctor_info input[type=number]{font-size:20px; width: 100%;}
.lightbox{width:100%;height:100%;position:fixed;top:0px;left:0px;z-index:5;}
.overlay{width:100%;height:100%;position:fixed;top:0px;left:0px;z-index:5;background:rgba(0,0,0,0.8);}
.window{position:fixed;width:90%;height:90%;left:2.5%;top:2.5%;background:#fff;padding:2.5%;z-index:6;}
.image_selection li{width:22%;display:inline-block;margin:0px 1%;position:relative;}
.image_selection li a{display:block;width:100%;height:75px;background-size:contain;opacity:1;position:relative;}
.image_selection li a:after{position:absolute;width:100%;height:100%;z-index:2;content:"";left:0px;top:0px;background:rgba(0, 0, 0, 0.6);}
.image_selection li.active a{opacity:1;}
.image_selection li.active a:after{background:none;}
.ranking_list li{margin-bottom:5px;}
.ranking_list li a{display:block;background:#ccc;text-align:center;padding:8px 0px;font-size:15px;text-decoration:none;color:#000;}


.slides {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;
}
.slide {
    padding: 1px;
    background-color: #2F2F2F;
    margin: 0 0 15px;
    text-align: center;
    color: #FFF;
    border: 2px solid #444;
}

.slide-placeholder {
    background: #DADADA;
    position: relative;
}
.slide-placeholder:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15px;
    background-color: #FFF;
}
.ui-sortable-helper{border:2px solid transparent;}
.ui-sortable-helper a{background:royalblue !important;border:none;}
.completed[data-match-id='0']{border:2px solid green;}
.completed[data-match-id='1']{border:2px solid orange;}
.completed[data-match-id='2']{border:2px solid yellow;}
.completed[data-match-id='3']{border:2px solid red;}
.completed[data-match-id='4']{border:2px solid maroon;}
