<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Wockhardt - Wgenie</title>
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<link href="css/colorbox.css" rel="stylesheet" type="text/css"/>
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie7.css" /><![endif]-->
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" /><![endif]-->
<!--[if IE 9]><link rel="stylesheet" type="text/css" href="css/ie9.css" /><![endif]-->
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<style>

</style>
<script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="js/jquery.accordion.min.js" type="text/javascript"></script>
<script src="js/angular.min.js" type="text/javascript"></script>
<script src="js/app.js"  type="text/javascript"></script>
<script src="js/controllers/library.js"  type="text/javascript"></script>
<script src="js/jquery.colorbox-min.js" type="text/javascript"></script>
<script>
function getLibrary(divCode, userId, levelCode, empId){

$("#div_code").val(divCode);
$("#user_id").val(userId);
$("#level_code").val(levelCode);
$("#emp_id").val(empId);

window.setTimeout(function(){
	angular.element(document.getElementById('library')).scope().init();
}, 1000)


}
</script>
</head>
<body ng-app="wockhardt">

<div id="preloader"></div>
<div class="container">

      <section ng-controller="library" id="library">
<h3 class="top_title">Library</h3>
    	<div id="library">
			<ul id="navigation">
				<li ng-repeat="library in libraries">
					<a class="head" href="">{{library.CatName}}</a>
					<ul class="article">
						<li ng-repeat="article in library.Articles" data-article-id="{{article.ArticleId}}" id="ART-{{article.ArticleId}}" data-rating-count="{{article.Rating}}">
                        	<a href="article.ArticleLink" target="_blank">{{article.ArticleName}}</a>
                            <table width="100%"  class="article_box clearfix">
                            	<tr>
                                <td width="45%" class="rating_box">
                                    <ul class="rating clearfix">
                                        <li ng-repeat="n in [1, 2, 3, 4, 5] track by $index" ng-Class="{blank: $index>article.Rating - 1}"></li>
                                    </ul>
                                </td>
                                <td width="15%" class="rate_count">{{article.usercount}}</td>
                                <!-- article.ISUserRated==false -->
                                <td width="25%" class="rate_it"><a href="#rate_pop" class="inline red_but3" ng-if="article.ISUserRated==false">Rate</a></td>
                                <td width="25%" class="view"><a href="http://training.wockhardt.com/my_library/{{article.ArticleLink}}" class="red_but">View</a></td>
                                </tr>
                                </table>
                        </li>
					</ul> 
				</li>
				
			</ul>
		</div>
        <input type="hidden" id="div_code" />
        <input type="hidden" id="user_id" />
        <input type="hidden" id="level_code" />
        <input type="hidden" id="emp_id" />
        
    <div class="dialog"></div>
    
    <div style="display:none;">
    	<div id="rate_pop" style="padding:20px 10px;background:#fff;">
        	<h5>Clik to Rate</h5>
            <ul class="user_rating clearfix" data-name="" data-article-id=""> 
                <li ng-Click="rateArticle($event, 1);"></li>
                <li ng-Click="rateArticle($event, 2);"></li>
                <li ng-Click="rateArticle($event, 3);"></li>
                <li ng-Click="rateArticle($event, 4);"></li>
                <li ng-Click="rateArticle($event, 5);"></li>
            </ul>
        </div>
    </div>
    
    </section>
</div>



<script>
 $(document).ready(function(e) {
  
	$('.user_rating li').hover(function(){
		  var getLen = $(this).index();
		  for (i=0;i<=getLen;i++){
			  $('.user_rating li:eq('+ i +')').addClass('active');
		  }           
        },function(){
          $('.user_rating li').removeClass('active');  
 	});
	
	
	$(document).on("click", ".view a", function(){
		var getHref = $(this).attr("href");
		//window.open(getHref, "_system");
		JsHandler.openBrowser(getHref);
		return false;
		
	})
 $(document).on("click", ".inline", function(){
		var getArticleId = $(this).parents("li").attr("data-article-id");
		var getId = $(this).parents("li").attr("id");
		console.log($(this).parents("li").attr("id"));
		//console.log(getId);
		$(".user_rating").attr("data-article-id", getArticleId);
		$(".user_rating").attr("data-name", getId);
	})
});

//getLibrary("E", "2", "L1", "8081");
</script>

</body>
</html>
