
.basic  {

}

.basic p {
	margin-bottom : 10px;

}
.basic > a {
	cursor:pointer;
	font-size: 16px;
	color: #333333;
	display:block;
	background-color: #f9f8f8;
	padding:15px 15px 15px 20px;border-bottom:1px solid #dcdbdb;
	background-image: url("../images/icons/collapsed.png");
	background-repeat:no-repeat;
	background-position:95% 50%;
}
.basic > a:hover {
	/*background-color: white;
    background-image: url("../images/icons/collapsed.png");*/
}
.basic > a.selected {

	background-color: #fff;
		background-image: url("../images/icons/expanded.png");
}

.basic > div > ul li a{padding:15px 15px 15px 20px;display:block;}
.basic > div > ul li:nth-child(even){background:#d4d3d3;}
.basic > div > ul li:nth-child(odd){background:#e3e0e0;}
.basic > div > ul li a p{margin-bottom:10px;font-size:13px;color:#666666;}
.basic > div > ul li a p:last-child{margin:0;}